* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    max-width: 1024px;
}

body {
    background-color: #F3F3F3;
}

/* -------------- secion header----------------------- */
header {
    background-color: #222222;
    max-width: 1024px;
}

.menu {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 183px;
    height: 40px;
    margin-left: 35px;
}

nav {
    margin-right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

li {
    margin-left: 8px;
    display: inline;
}

.nav_a {
    list-style: none;
    text-decoration: none;
    color: #F3F3F3;
}

.carrito {
    width: 25px;
    height: 24px;
    padding: 5px;
    color: #D01418;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

/* -------------seccion slide----------- */
.slide {
    background-image: url(../img/fondo.png);
    /* max-width: 1024px; */
    height: 512px;
    font-size: 40px;
    /* ----------responsivo de slide */
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 45px;

}

.slide_porcentaje {
    /* position: absolute; */
    /* width: 808px; */
    height: auto;
    color: #F3F3F3;
}


.button_comprar {
    /* position: absolute; */
    background-color: #D01418;
    width: 220px;
    height: 61px;
    border-radius: 5px;
    border-style: none;
    color: #F3F3F3;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    line-height: 61px;

}

/* ------------------seccion productos destacados */
.productos-destacados {
    /* height: 377px; */
    top: 94px;
    left: 652px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

.titulos-destacados {
    width: 304.36px;
    left: 359px;
    color: #000000;
    font-size: 30px;
    text-align: center;
}

.article_pd {
    width: 265px;
    height: 322px;
    background-color: #ffffff;
}


hr {
    color: #222222;
}

.imgpd {
    margin-top: 30px;
    margin-left: 70px;
    width: 129px;
    height: 163px;
}

.div_pd {
    gap: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

.div_img {
    height: 223px;
}

.margen {
    padding: 20px;
}

.parrafo1 {
    font-size: 20px;
}

.parrafo2 {
    font-size: 13px;
}

.parrafo3 {
    font-size: 10px;
    color: #619D00;
}

/* -------------seccion productos estrellas---------- */

.tituloestrellas {
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

.productos {
    display: flex;
    flex-direction: column;
    margin-bottom: 85px;

}

.img_estrella {
    gap: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}


.img_silla {
    border-radius: 2px;
    width: auto;
    height: 115px;
}

.img_compu {
    border-radius: 2px;
    width: auto;
    height: 115px;
}

/* ---------------footer--------- */
.footer {
    gap: 20px;
    height: 216px;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img_logo{
    width: 183px;
    height: 40px;
}
.redes{
    font-size: 25px;
    color: #F3F3F3;
    gap: 20px;
}
/* -----------iconos---------------- */
.f{
   text-decoration: none;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.twitter{
color: #14AED0;
}
.face{
color: #1476D0;

}
.ig{
color: #CE0CFF;

}
/* ------------linea final------------- */
.final{
    text-align: center;
}
/* -------------responsivo------------- */
@media (max-width: 800px) {

    /* ---------------responsivo del header------------------- */
    nav {
        display: none;
    }
    .footer {
        justify-content: center;
        flex-direction: column;   }
}

