*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif ;
     @import "bootstrap-icons/font/bootstrap-icons";
}
html{
    max-width: 1024px;
}
    header{
    background-color: #222222;
    width: 1024px;
    right: 100px;
}
body{
    background-color: #F3F3F3;
}

nav{
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
}
li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin-left: 8px;
}
a{
    list-style: none;
    text-decoration: none;
    color: #F3F3F3;

}
/* -------------- secion header----------------------- */
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo{
    width: 183px;
    height: 40px;
    margin-left: 35px;
    margin: 40px;
}

.carrito{
    width: 25px;
    height: 24px;
    margin-left: 46px;
}

/* -------------seccion slide----------- */
 .slide{
    background-image: url(../img/fondo.png);
    width: 1024px;
    height: 512px;
    font-size: 40px;
    display: flex;
}
 .slide_porcentaje{
    position: absolute;
    width: 808px;
    height: 47px;
    top:287px ;
    left: 108px;
    color: #F3F3F3;
}
.button_comprar{
    position: absolute;
    background-color: #D01418;
    width: 220px;
    height:61px ;
    top: 364px;
    left: 402px;
    border-radius: 5px;
    border-style: none;
    color: #F3F3F3;
    font-size: 25px;
}

/* ------------------seccion productos destacados */
 .productos-destacados{
    display: flex;
    justify-content: center;
    height: 377px;
    top: 94px;
    left: 652px;
    gap: 20px;
}

h2{
    text-align: center;
}

.titulos-destacados{
    width: 304.36px;
    left: 359px;
    color: #000000;
    font-size: 30px;
}

 .article_pd{
    display: flex;
    flex-direction: column;
    width: 265px;
    height: 322px;
    background-color: #ffffff;
 }

 hr{
    color: #222222;
}
.imgpd{
    margin-top: 30px;
    margin-left: 70px;
    width: 129px;
    height: 163px;
}

.div_pd{
    width: 855px;
    gap: 20px;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-flow: wrap
}

.div_img{
    height: 223px;
}
.margen{
    padding: 20px;
}
.parrafo1{
    font-size: 20px;
}
.parrafo2{
    font-size: 13px;
}
.parrafo3{
    font-size: 10px;
    color: #619D00;
}
/* -------------seccion productos estrellas---------- */

.tituloestrellas{
    text-align: center;
    font-size: 30px;
    padding: 30px;
}
.img_estrella{
    display: flex;
    justify-content: center;
    gap: 114px;
    padding-bottom: 60px;
    flex-flow: wrap;
}
.img_silla{
    border-radius: 2px;
    width: 360px;
    height: 115px;
}
.img_compu{
    border-radius: 2px;
    width: 360px;
    height: 115px;
}
/* ---------------footer--------- */
footer{
    background-color: #222222;
    width: 1024px;
    height: 216px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_logo{
    width: 183px;
    height: 40px;
    padding: 75px;
    
}
.p_redes{
    font-size: 25px;
    color: #f3f3f3;
    padding: 75px;
}
.f{
    width: 32px;
    height: 32px;
    display: flex;
}

.final{
    text-align: center;
    font-size: 10px;
}